<div class="col-sm-6 offset-sm-3 container">

    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" formControlName="email" class="form-control" />
            <div  class="invalid-feedback">
                <div >email is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"  />
            <div  class="invalid-feedback">
                <div >Password is required</div>
            </div>
        </div>
        <div class="form-group login" >
            <button  type="submit" class="btn btn-primary">Login</button>
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
    </form>
    
    </div>